.container-inner {
    position: center;
  }
  .banner {
      background: url(../img/banner_img.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      opacity: 100;
}