body { 
    /* background-image: url('../img/game_review_page_background.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: relative; 
  }