.header {
    /* background-image: url('img/banner_img.jpg'); */
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .description {
    left: 50%;
    position: relative;
    top: 15%;
    transform: translate(-50%, 0%);
    text-align: center;
  }
  .description h1 {
    color: #000000;
  }
  .description p {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    line-height: 1.5;
    padding-left: 5%;
  }

  #elementId{
      height: 200px;
      overflow: scroll;
  }
  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }

  #rcorners1 {
    border-radius: 25px;
    background: #cbd3d0;
    padding: 30px;
    /* width: 200px; */
    width: 70%;
    height: 150px;
  }

  .description #rcorners1 {
    position: relative;
    transform: translate(20%, 0%);
  }

  p {padding-left: 2%;}

  #footer { 
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    padding-top: 20px;
    /* Height of the footer*/  
    height: 60px; 
    color: aliceblue;
    background: rgb(51, 51, 51); 
} 

.overlay {
  position: relative;
  min-height: fit-content;
  min-width: fit-content;
  background: rgba(220, 225, 230, 0.714);
}