<head>
    <link rel="stylesheet" type="text/css" href="css/banner.css"/>
    <link rel="stylesheet" type="text/css" href="css/navbar.css"/>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <!-- BANNER SECTION - This will be ablstracted out an imported dynamically in the future -->
    <center>
        <div class="container-inner">
            <div class="banner">
                <header><h1><b><font color="white">Yuon Flemming's Site</font></b></h1></header>
            <div class="navbar">
                <div class="dropdown">
                    <button class="dropbtn">Home 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="index.html">Home Page</a>
                    </div>
                </div> 
                <div class="dropdown">
                    <button class="dropbtn">About Me 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="resume_page.html">Resume</a>
                        <a href="travel_page.html">Travel</a>
                        <a href="social_media_page.html">Social Media</a>
                    </div>
                </div> 

                <div class="dropdown">
                    <button class="dropbtn">Gaming 
                    <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="gaming_info_page.html">Gaming Info</a>
                        <a href="gaming_review_page.html">Game Reviews</a>
                    </div>
                </div> 

                <!-- <div class="dropdown">
                        <button class="dropbtn">Dropdown 
                        <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div> -->
            </div>
        </div> 
        </div>
    </center>
<!-- BANNER SECTION - This will be ablstracted out an imported dynamically in the future --> 
</body>