<footer class="footer-default">
    <div id="footer-container">
        <div class="outer">        
            <div class="inner"> 
                
    <p class="copyright">2022 Yuon Flemming | All Rights Reserved</p>
    <div class="scrolltotop hidden"><span class="holder"></span></div>
    <div class="icon-scroll-line"></div>
    <ul class="socials-text"><li><a href="" target="_blank">Facebook</a></li><li><a href="" target="_blank">Twitter</a></li><li><a href="" target="_blank">Instagram</a></li><li><a href="" target="_blank">Youtube</a></li></ul>						</div>
        </div>
    </div>	
</footer>